	<!--=========== PROJECTS SECTION ===========-->
		<section id="bl-work-section">
			<div class="bl-box">
				<h2>Latests Works</h2> <!-- class="bl-icon bl-icon-works"-->
			</div>
			<div class="bl-content">
				<h2>Projects</h2>
				<p>I have mainly spent time working with Ruby on Rails</p>
				<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
				<p></p>
				<p></p>
				{% for project in site.projects %}
					{% assign mod_index = forloop.index | modulo: 3 %}
					{% if mod_index == 1 %}
						<div class="row-fluid">
					{% endif %}
							<div class="span4">
								<ul id="bl-work-items" style="list-style: none;">
									<li data-panel="panel-{{forloop.index}}"><a href="#"><img src="images/project1.jpg" /></a></li>
								</ul>
								<p>{{ project.title }}</p>
							</div><!-- /span4 -->
					{% if mod_index == 0 or forloop.last %} 
						</div>
					{% endif %}
				{% endfor %}

			</div><!-- /bl-content -->
			<span class="bl-icon bl-icon-close"></span>
		</section>
