<!--=========== BLOG SECTION ===========-->
		<section>
			<div class="bl-box">
				<h2>My deepest thoughts</h2>
			</div>
			<div class="bl-content">
				<div class="row-fluid">
					<div class="span12">
						{% for post in site.posts %}
						<h2>Latest Blog Entry</h2>
						<article>
							<h3>{{ post.title }}</h3>
							<p>{{ post.excerpt }}</p>
						</article>
						{% endfor %}
					</div><!-- /span12 -->
				</div><!-- /row-fluid -->
			</div><!-- /bl-content -->
			<span class="bl-icon bl-icon-close"></span>
		</section>
