<!--=========== CONTACTS SECTION ===========-->
<section>
	<div class="bl-box">
		<h2 >Contact Me</h2>
	</div>
	<div class="bl-content">
		<div class="row-fluid">
			<div class="span12">
				<h2>Get in touch</h2>
				<br>
				<p>I am available for freelance jobs. Please contact me and send me your questions and inquiries.</p>

			<p>
				<p>your@email.com | +34 600669933 | Madrid, Spain</p>
			</p>

			<p>
				<a href="#" class="social-network facebook"></a>
				<a href="#" class="social-network pinterest"></a>
				<a href="#" class="social-network flickr"></a>
				<a href="#" class="social-network dribbble"></a>
				<a href="#" class="social-network twitter"></a>
				<a href="#" class="social-network apple"></a>
				<a href="#" class="social-network skype"></a>
				<a href="#" class="social-network tumblr"></a>
				<a href="#" class="social-network vimeo"></a>
			</p>

		</div>
	</div>
	<span class="bl-icon bl-icon-close"></span>
</section>
