<!--=========== CONTACTS SECTION ===========-->
<section>
	<div class="bl-box">
		<h2 >Contact Me</h2>
	</div>
	<div class="bl-content">
		<div class="row-fluid">
			<div class="span12">
				<h2>Get in touch</h2>
				<br>
				<p>I am available. Please contact me anytime.</p>

			<p>
				<p>jacobsiddall@gmail.com | Chicago, IL</p>
			</p>

			<p>
				<a href="https://www.linkedin.com/in/jakesiddall/" target="_blank" class="social-network linkedin"></a>
			</p>

		</div>
	</div>
	<span class="bl-icon bl-icon-close"></span>
</section>
